@font-face {
    font-family: Chewy;
    src: url(../fonts/Chewy/Chewy.ttf);
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}

#root {
    font-family: "PlayfairDisplay";
}
.myDivClass {
    border: 1px solid red;
    height: 200px;
    width: 200px;
    background-image: url(../image/ulv.jpg);
    background-color: transparent;
}